services:
  monit-chat-api:
    build:
      context: .
      dockerfile: monit-chat-api/Dockerfile
    env_file:
      - .env
    ports:
      - "${APP_PORT}:8000"
    volumes:
      - ./monit-chat-api/app:/app/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - shared-network
      - default

networks:
  shared-network:
    external: true
